
<div align="Center" style="color:blue;"><h4><marquee>Spread Sparkle your not the only one there are many</marquee></h4></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <table style="width:100% ; " align="center">
      <tr>
        <th>Yearly Report of India</th>
        <th> </th>
        <th> </th>
       
      </tr>
      <tr>
        <td  align="center"><p>
            {{ amount  | currency : format }}
           <br> <button (click)= "toggleINRandUSd()">Click to see in Dollers</button>
                   
          </p>
                   
          </td>
       
    
      <tr align="center">This is what india government spent on mental health of people in India 
      </tr>
      <br>
      <tr align="center"> <h1> {{  .85 | percent :'1.2-5'}}</h1> <br> Of people in India go through depression</tr>
     
    </table> 
    
    
    
<div style="margin-top:320px; overflow-y: hidden;">
    <a  href="https://twitter.com/TLLLFoundation" class="fa fa-twitter twitterclass" style="font-size:48px;color:skyblue">Follow us on</a>

</div>    

  
  