.tableclass
{
    margin-right: 100px;
    margin-left: 100px;
}


body {
    font-family: "Lato", sans-serif;
}

.openmenu
{
 position: relative;
 margin-left: 0px;
 margin-top: 1px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
   font: outline;
    color: #00939f;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #00939f;
    
}

.sidenav .closebtn {
    position: absolute;
    top: 00px;
    right: 45px;
    font-size: 36px;
    margin-left: 30px;
}

.title
{
   color: black;
}

.dateclass
{
    color: red;
}

.twitterclass
{
    float:left ;
    margin-top: 460px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
