
<div align="Center" style="color:blue;"><h4><marquee>Spread Sparkle your not the only one there are many</marquee></h4></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<a  href="https://twitter.com/TLLLFoundation" class="fa fa-twitter twitterclass" style="font-size:48px;color:skyblue">Follow us on</a>

<p align="right" class="dateclass">You are connecting with us on is {{ birthday | date }}</p><br>
<table class="tableclass">
    <tr>
      <th>Stress<br></th>
      <th>Anxiety<br></th>
      <th>Depression<br></th>

    </tr>
    <tr>
      <td style="text-align: center;"><img  src="http://thelivelovelaughfoundation.org/img/stressed_icon.png"  alt="Stress"/></td>
      <td style="text-align: center;"><img src="http://thelivelovelaughfoundation.org/img/anxiety_icon.png" alt="Stress"/></td>
      <td style="text-align: center; "><img src="http://thelivelovelaughfoundation.org/img/depression_icon.png" alt="Stress"/></td>
    </tr>
    <tr>
      <td style="text-align: justify;">Linked to diabetes, heart disease,<br> and practically every mental health condition,
         stress is not to be taken lightly. But with knowledge and a few lifestyle changes,
          it can be helped.</td>
      <td style="padding-left: 50px;"><p style="text-align: justify;">Anxiety is a general term for several disorders that cause nervousness, fear, apprehension,
         and worry. Severe anxiety can be extremely debilitating, and have a serious impact on daily life.</p></td>
         <td style="text-align: justify;padding-left: 50px;">The World Health Organization characterizes depression as one of the most disabling disorders 
           in the world. Yet, with the right action and knowledge it can be managed and treated.</td>
    </tr>
  </table>
  
  <div style="margin-top:350px;  overflow-y: hidden;">

  
  </div>    